.DS_store

node_modules
public/build
public/fonts
.antlr
*.tokens
*.interp
.ipynb_checkpoints

.vscode/settings.json
tests/images/*screenshot*.png
tests/images/*_diff.png
test-results/
playwright-report/
public/_worker.js
src/database/_worker.js
src/database/utility.js
.wrangler/state/kv/*

wrangler.toml

public/serviceworker.js
public/serviceworker.js.map

*.csv#
